.pro_rights{
	position: absolute;
	top:0;
	left:190px;

}
.cho_list{
  margin-top:20px;
}
.cho_list dl{
	border-bottom:1px solid #ccc;
	padding:5px;
}
.cho_list dt{
	width:80px;
	text-align:right;
	line-height:32px;
 
}
.limit{
	width:70px;
    text-align:center;
    line-height:32px;
}
.limit a{
	padding:4px;
	background:#1D7AD9;
}
.cho_list dd ul li{
   float:left;
   width:20%;
   text-align:center;
   line-height:32px;
}
.ul_list{
	width:800px;
}
.line_list{
	height:35px;
	background: #F5F5F5;
	margin-top:20px;
	border:1px solid #ccc;
	position:relative;
}
.posi{
	width:105px;
	height:25px;
	line-height: 25px;
	background: #fff;
	margin:5px 0  5px 40px;
	padding-left:10px;
    position: relative;
    border:1px solid #ccc;
    background:url(../img/bg-1.gif) 98% center no-repeat;
}
.posi ul{
	position:absolute;
	top:24px;
	left: 0;
	width:105px;
	border:1px solid #ccc;
	padding-left:10px;
	display:none;
}
.posi ul li{
	width:100%;
	height:25px;
}
.posi_right{
	height:25px;
	margin:5px 80px 5px 0;
	line-height:25px;
}
.posi_right input{
	margin-right:10px;
}
.posi_right strong{
	color:red;
}
.arrive{
	position: absolute;
	top:11px;
	left:5px;
}
.img_box{
	margin-top:20px;
}
.img_box > div{
   width:250px;
   padding-bottom:20px;
   overflow: hidden;
}
.img_box img{
   display: block;
   margin:20px auto;
}
.img_box .text_box{
    text-align:left;
   	padding-left:20px;
   	width:90%;
}
.img_box .text_box p{
	 line-height:25px;
	 color:#545454;
	 font-size:14px;
	 margin:10px 0;

}
.img_box .text_box  strong{
	color:#D70087;
}
.img_box .text_box  strong em{
	color:#E9FFFF;
}
.img_box .text_box a{
	display: block;
	width:80px;
	height:25px;
	border:1px solid #ccc;
	line-height:27px;
	margin:15px 0;
	background: url(../img/bg-2.gif) 2px center no-repeat;
	padding-left: 20px;
}
.page{
	margin:10px auto;
	text-align: center;
}
.express{
	border:none !important;
	margin:0 !important;
}
.page a {
	display: inline-block;
	padding:10px 15px;
	margin-right:5px;
	border:1px solid #ccc;
}
.page span{
	font-size:16px;

}
.page span input{
	padding:10px 15px;
	border:1px solid #ccc;
	width:20px;
	margin:0 3px;
}
.page .button{
	border:1px solid #ccc;
	font-size:14px;
	line-height: 14px;
	padding:9px;
	position:relative;
	top:2px;
}
.footer{
	position:absolute;
	top:1600px;
	left:0;
}
.link{
	width:146px;
}